{% extends "base.html" %}

{% block title %}Friend list - {{ block.super }}{% endblock %}


{% block main_content %}

	{% ifequal list_type "followers" %}

		<h1>People Who You Follow</h1>

	{% else %}

		{% ifequal list_type "following" %}

			<h1>People Following You</h1>

		{% else %}
			<h1>People Who You Follow And Also Follow You</h1>

		{% endifequal %}

	{% endifequal %}

	{% ifequal friends.count 0 %}
		<p class="info">You Don't Have Any</p>
	{% else %}
		<ul>
			{% for friend in friends %}
				<li>{{ friend.username }}</li>
			{% endfor %}
		</ul>

	{% endifequal %}

{% endblock %}
