<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}StartTheDark{% endblock %}</title>
	{% block extra_head %}{% endblock %}
</head>
<body>
	<ul>
		<li>
			<a href="{% url 'events:ev_tonight' %}">Tonight</a>
		</li>
		<li>
			<a href="{% url 'events:ev_archive' %}">Archive</a>
		</li>
	</ul>
	{% block main_content %}{% endblock %}
	{% block extra_body %}{% endblock %}
</body>
</html>
