{% extends "base.html" %}
{% load events_tags %}

{% block title %}Archive - {{ block.super }}{% endblock %}


{% block main_content %}
	<a href="{% url 'events:ev_create' %}">Create an Event</a>
	{% if events %}
		{% for e in events %}
			{% event e %}

		{% endfor %}

	{% else %}
		<p>No events for today</p>

	{% endif %}

{% endblock %}
