{% extends "base.html" %}

{% block title %}Create - {{ block.super }} {% endblock %}

{% block main_content %}
<form method="post" action="">
	{% csrf_token %}
	<ul>
	{{ form.as_ul }}
	</ul>

	<input type="submit" value="Create Event">

</form>

{% endblock %}